 <!-- Title group  -->
 <div class="title-group">
  <h1 class="mat-h1">Add Event</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<!-- Post form -->
<div class="inner-wrapper">
  <form [formGroup]="bookForm" (ngSubmit)="submitBook(bookForm.value)" #resetBookForm="ngForm" novalidate>
    <!-- Left block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Post name -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Event title" formControlName="etitle">
          <mat-error *ngIf="handleError('etitle', 'required')">
            You must provide a<strong> title</strong>
          </mat-error>
        </mat-form-field>


        <!-- Location -->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Description" formControlName="edesc">
          <mat-error *ngIf="handleError('edesc', 'required')">
            You must provide an <strong>a description</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
         <input matInput placeholder="Time" formControlName="etime">
         <mat-error *ngIf="handleError('etime', 'required')">
           You must provide<strong> time</strong>
         </mat-error>
       </mat-form-field>

        <!-- Event date -->
        <mat-form-field>
          <input matInput readonly [matDatepicker]="picker" placeholder="Event date"
            formControlName="edate" (dateChange)="formatDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="handleError('edate', 'required')">
            Event date is required
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <!-- Right block -->
    <mat-card>
      <div class="controlers-wrapper">
        <!-- Image Picker-->

        <div class="text-centre">
         <img [src]="imgSrc" width="350px" height="250px" (click)="fileUploader.click()">
        </div>
        <label>Select file to upload</label>
        <input type="file" formControlName="eimage" #fileUploader (change)="showPreview($event)">
        <mat-error *ngIf="handleError('eimage', 'required')">
         You must provide a<strong> event image</strong>
       </mat-error>
      </div>
    </mat-card>

    <!-- Submit & Reset -->
    <mat-card>
      <div class="full-wrapper button-wrapper">
        <div class="button-wrapper">
          <button mat-flat-button color="warn">Submit</button>
          <button mat-flat-button color="war" (click)="resetForm()">Clear</button>
        </div>
      </div>
    </mat-card>
  </form>
</div>
